 textArea{
                width: 480pt;
                height: 180pt;
                font-size: 80pt;
            }
button {
                display: inline-block;
                height: 134px;
                padding: 0;
                margin: 0;
                vertical-align: top;
                width: 104px;
                background-color: white;
            }

#start-record-btn img {
                display: block;
                height: 100px;  
                width: 100px;
            }
            h1{
                font-size: 50pt;
                font-weight: bold;
            }
/*            #center{
                max-width: 500px;
                margin: auto;
            }*/